.shop-list {
  &__item {
    --flow-space: #{get-size(700)};
  }

  &__link {
    &,
    &:visited {
      color: var(--color-theme-primary);
      text-decoration: none;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.shop-tags {
  list-style: none;
  display: flex;

  &__tag {
    border-radius: 3px;
    padding: 0.25em 0.5em;
    margin: 0.25em 0.5em;

    &:first-child {
      margin-left: 0;
    }
  }

}
